<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Projects</h5>
          </mdb-card-title>
          <mdb-card-text>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi blanditiis, assumenda dolorem
            possimus id qui ut eaque. Similique porro labore commodi impedit deserunt? Officiis nihil rem aut molestias
            illum eos! Similique accusantium reprehenderit necessitatibus quo totam provident laudantium recusandae
            sapiente, nemo ex illum nobis, officia, vero dolores! Distinctio similique pariatur, at sint nemo quidem
            commodi vel rerum aliquid quibusdam? Perferendis.</mdb-card-text>
          <a routerLink="/projects" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Tables</h5>
          </mdb-card-title>
          <mdb-card-text>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi blanditiis, assumenda dolorem
            possimus id qui ut eaque. Similique porro labore commodi impedit deserunt? Officiis nihil rem aut molestias
            illum eos! Similique accusantium reprehenderit necessitatibus quo totam provident laudantium recusandae
            sapiente, nemo ex illum nobis, officia, vero dolores! Distinctio similique pariatur, at sint nemo quidem
            commodi vel rerum aliquid quibusdam? Perferendis.</mdb-card-text>
          <a routerLink="/customers" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Charts</h5>
          </mdb-card-title>
          <mdb-card-text>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi blanditiis, assumenda dolorem
            possimus id qui ut eaque. Similique porro labore commodi impedit deserunt? Officiis nihil rem aut molestias
            illum eos! Similique accusantium reprehenderit necessitatibus quo totam provident laudantium recusandae
            sapiente, nemo ex illum nobis, officia, vero dolores! Distinctio similique pariatur, at sint nemo quidem
            commodi vel rerum aliquid quibusdam? Perferendis.</mdb-card-text>
          <a routerLink="/charts" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <mdb-card-header>App section</mdb-card-header>
        <mdb-card-body class="p-3">
          <mdb-card-title>
            <h5 class="mb-3">Profile</h5>
          </mdb-card-title>
          <mdb-card-text>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi blanditiis, assumenda dolorem
            possimus id qui ut eaque. Similique porro labore commodi impedit deserunt? Officiis nihil rem aut molestias
            illum eos! Similique accusantium reprehenderit necessitatibus quo totam provident laudantium recusandae
            sapiente, nemo ex illum nobis, officia, vero dolores! Distinctio similique pariatur, at sint nemo quidem
            commodi vel rerum aliquid quibusdam? Perferendis.</mdb-card-text>
          <a routerLink="/profile" mdbBtn color="orange">Go to section</a>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>