.row {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  
  .full {
    min-height: 40rem;
  }